.home {
  .container{
    @include container;
    .bg-cover{
      @include bg-cover-style;
    }
    .banner{
      a{
        height: 256px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        &.active{
          span{
            font-weight: bold;
          }
          .banner-img{
            filter: blur(0px);
            }
        }
        span{
          position: absolute;
          writing-mode: vertical-lr !important;
          font-size: 24px;
          letter-spacing: 10px;
          text-align: center;
          z-index: 3;
        }
        .color-wrap{
          z-index: 2;
          width: 100%;
          height: 100%;
          position: absolute;
        }
        .banner-img{
          &.bg-cover{
            @include bg-cover-style
          }
          filter: blur(5px);
          transition: all 0.5s;
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
      }

      a:hover{
        span{
          color: $primary !important;
          font-weight: bold;
        }
        .color-wrap{
          background-color: rgba(255, 225, 128, 0.8) !important;
          transition: all 0.5s;
        }
        .banner-img{
          filter: blur(0px);
        }
      }
    }
    .why-choose ,.why-eat{
      p{
        
      }
      @media (min-width:768px) {
        .bg-cover{
          margin: -20px 0px;
          &.sweet-show-img{
            height: 460px !important;
          }
        }
        p{
          writing-mode: vertical-rl;
          height: 280px;
          line-height: 40px;
        }
        .img-text{
          margin-top: -20px;
        }
      }
    }
    .card{
      border-radius: 0px;
      span{
        position: absolute;
        left: 20px;
        writing-mode: vertical-rl;
        padding: 10px;
        letter-spacing: 5px;
        background-color: $primary;
        color: white;
      }
      .heart{
        position: absolute;
        right: 20px;
        top: 16px;
        font-size: 20px;
      }
    }
  }
}
