body {
  font-family: 微軟正黑體;
  color: $primary;
  .wrap {
    .nav-item a{
      color: $secondary;
      &.active{
        color: $primary;
      }
      :hover{
        color: $primary;
      }
    }
    footer {
      span {
        border-radius: 0px !important;
      }
      input {
        border-radius: 0px !important;
        &.form-control:focus {
          box-shadow: none !important;
        }
      }
      a.btn {
        border-radius: 0px;
        height: 56px;
        border: none;
        width: 64px;
        padding: 16px 16px !important;
        text-align: center;
        i{
          font-size: 18px;
          color: $primary !important;
          text-align: center;
        }
      }
      .link-logo i{
        font-size: 32px;
      }
    }
  }
}
